<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CARs"
        tools:targetApi="31">
        <activity
            android:name=".VerifyPD2"
            android:exported="false" />

        <activity
            android:name=".VerifyPD"
            android:exported="false" />
        <activity
            android:name=".Mybookings"
            android:exported="false" />
        <activity
            android:name=".Success"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5cZYegcTFT8NLfjKn1VPiyDFdLlhuyYk" />

        <activity
            android:name=".MapsActivity2"
            android:exported="false"
            android:label="@string/title_activity_maps2" />
        <activity
            android:name=".Booking_activity"
            android:exported="false" />
        <activity android:name=".Info_car" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity_upload"
            android:exported="false" />
        <activity
            android:name=".ListCarActivity"
            android:exported="false" />
        <activity
            android:name=".RentCarActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile_setup">

            <!-- Optional: Add any intent-filters if needed -->
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>